H1 {font: 48pt Arial, Helvetica; color: cf002f; font-weight: bold; margin-left: 0px;}
H2 {font: 16pt Arial, Helvetica; color: cf002f; font-weight: bold; margin-left: 0px;}
H3 {font: 12pt Arial, Helvetica; color: cf002f; font-weight: bold; margin-left: 0px; margin-bottom: 3px;}
H4 {font: 9pt Arial, Helvetica; color: cf002f; font-weight: bold; margin-left: 0px; margin-bottom: 3px;}
form { margin-bottom: 0; }
.transbtn1{   height:19px; width:250px;   font-family:helvetica,sans-serif;   font-size:90%;   }
.transbtn2{   height:19px; width:110px;   font-family:helvetica,sans-serif;   font-size:90%;   }
.TD {  BACKGROUND-COLOR: white; COLOR: black;  FONT: 10pt Arial, Helvetica}
.TD-SMALL {  BACKGROUND-COLOR: white; COLOR: black;  FONT: 9pt Arial, Helvetica}
.TD-SMALL-RED {  BACKGROUND-COLOR: white; COLOR: cf002f;  FONT: Bold 9pt Arial, Helvetica}
.TD-BG-SMALL {  BACKGROUND-COLOR: #B0C4DE; COLOR: black;  FONT: 9pt Arial, Helvetica}
.TD-SMALL-RIGHT {  BACKGROUND-COLOR: white; text-align: right; COLOR: black;  FONT: 8pt Arial, Helvetica}
.TD-SMALL-LEFT {  BACKGROUND-COLOR: white; text-align: left; COLOR: black;  FONT: 8pt Arial, Helvetica}
.TD-SHADED {  BACKGROUND-COLOR: #DDDDDD;  COLOR: black;  FONT: 10pt Arial, Helvetica}
.TD-SHADED-SMALL {  BACKGROUND-COLOR: #DDDDDD;  COLOR: black;  FONT: 9pt Arial, Helvetica}
.TD-SHADED2-SMALL {  BACKGROUND-COLOR: #DDDDFF;  COLOR: black;  FONT: 9pt Arial, Helvetica}
.TD-SHADED3-SMALL {  BACKGROUND-COLOR: #BBBBFF;  COLOR: black;  FONT: 9pt Arial, Helvetica}
.TD-SHADED-SMALL-RIGHT {  BACKGROUND-COLOR: #DDDDDD; text-align: right; COLOR: black;  FONT: 8pt Arial, Helvetica}
.TD-SHADED-SMALL-LEFT {  BACKGROUND-COLOR: #DDDDDD; text-align: left; COLOR: black;  FONT: 8pt Arial, Helvetica}
tr.permMatrixHead td, tr.permMatrixHead td, tbody.permMatrixBody td { padding: 2px }
tr.permMatrixHead td, tr.permMatrixHead td { text-align: center }
label.partnerFilterLabel { font: 11pt Arial, Helvetica; font-weight: bold; margin-left: 0px; margin-right: 5px; margin-bottom: 2px; }
.TD-HEADER {  BACKGROUND-COLOR: #8FB8E6;  COLOR: black;   FONT: bold 10pt Arial, Helvetica}
.TD-HEADER-SMALL {  BACKGROUND-COLOR: #8FB8E6;  COLOR: black;  FONT: BOLD 9pt Arial, Helvetica}
.TD-HEADER-SMALL-LINK {  BACKGROUND-COLOR: #8FB8E6;  COLOR: black;  font-family: Arial, Helvetica; font-size: 9pt; font-weight: bold; cursor: hand; text-decoration: underline}
.TD-HEADER-SMALL-NOLINK {  BACKGROUND-COLOR: #8FB8E6;  COLOR: black;  font-family: Arial, Helvetica; font-size: 9pt; font-weight: bold;}
.TD-HEADER-SMALL-RIGHT {  BACKGROUND-COLOR: #8FB8E6;  COLOR: black; text-align: right;  FONT: BOLD 9pt Arial, Helvetica}
.TD-HEADER-SHADED {  BACKGROUND-COLOR: #DDDDDD;  COLOR: black;  FONT: 10pt Arial, Helvetica}
.TD-HEADER-SHADED-SMALL {  BACKGROUND-COLOR: #DDDDDD;  COLOR: black;  FONT: BOLD 9pt Arial, Helvetica}
.TD-LABEL {  BACKGROUND-COLOR: white; text-align: right; COLOR: black;  FONT: bold 10pt Arial, Helvetica}
.TD-LABEL-REQUIRED { BACKGROUND-COLOR: white; text-align: right; COLOR: red;  FONT: bold 10pt Arial, Helvetica}
.TD-LABEL-SMALL {  BACKGROUND-COLOR: white; text-align: right; COLOR: black;  FONT: bold 8pt Arial, Helvetica}
.TD-LABEL-SHADED {  BACKGROUND-COLOR: #DDDDDD; text-align: right; COLOR: black;  FONT: BOLD 10pt Arial, Helvetica}
.TD-LABEL-SHADED-SMALL {  BACKGROUND-COLOR: #DDDDDD; text-align: right; COLOR: black;  FONT: 8pt Arial, Helvetica}
.TD-LABEL-CENTER {  BACKGROUND-COLOR: white; text-align: center; COLOR: black;  font-family: Arial, Helvetica; font-size: 10pt; font-weight: bold}
.TD-LABEL-CENTER-NORMAL {  BACKGROUND-COLOR: white; text-align: center; COLOR: black;  font-family: Arial, Helvetica; font-size: 10pt; font-weight: normal}
.TD-INPUT {  BACKGROUND-COLOR: white; text-align: left; COLOR: black;  FONT: 10pt Arial, Helvetica}
.TD-INPUT-SHADED {  BACKGROUND-COLOR: #DDDDDD; text-align: left;  COLOR: black;  FONT: 10pt Arial, Helvetica}
.TD-INPUT-RIGHT {  BACKGROUND-COLOR: white; text-align: right; COLOR: black;  FONT: 10pt Arial, Helvetica}
.FIELDSET { border-color: black; padding: 10px; border-width: 3px;}
.LEGEND { font: bold 10pt Arial, Helvetica; color:CF002F }
.LEGEND2 { font: bold 10pt Arial, Helvetica; color:000000 }
.FIELDSET2 { border-color: black; padding: 5px; border-width: 2px;}
.FIELDSET1 { border-color: black; padding: 5px; border-width: 1px; position: relative;}

.fieldset1 form#superTaintForm {
	display: inline;
  position: absolute;
  right: 16px;
  top: 0;
  z-index: 30;
}
	.fieldset1 form#superTaintForm button {
		background-color: #CF002F;
    border: 0 none;
    color: #FFFFFF;
    padding: 0.2em 0.5em;
	}

.FIELDSET-WHITE { border-color: white; padding: 5px; border-width: 0px;}
.CAPTION {  BACKGROUND-COLOR: white;  COLOR: black;  font-family: Arial, Helvetica; font-size: 10pt; font-weight: bold; text-align: center}
.CAPTION2 {  BACKGROUND-COLOR: white;  COLOR: #CF002F;  font-family: Arial, Helvetica; font-size: 10pt; font-weight: bold; text-align: left}
.ERROR {  BACKGROUND-COLOR: #FFFFFF;  COLOR: #CF002F;   FONT: bold 9pt Arial, Helvetica}
.ERROR-CENTER {  BACKGROUND-COLOR: #FFFFFF;  COLOR: #CF002F;  font-family: Arial, Helvetica; font-size: 10pt; font-weight: bold; text-align: center}
.MESSAGE {  BACKGROUND-COLOR: #FFFFFF;  COLOR: green;   FONT: bold 9pt Arial, Helvetica}
.PROCESSING {  BACKGROUND-COLOR: #FFFFFF;  COLOR: #CF002F;   FONT: bold 14pt Arial, Helvetica}
.GREY-BOLD { font: bold 10pt Arial, Helvetica; color:#666666 }
.TITLE {font: 16pt Arial, Helvetica; color: cf002f; font-style: italic; font-weight: bold; margin-left: 0px; display: none;}
/* CoolMenus 4 - default styles - do not edit */
.clCMAbs{position:absolute; visibility:hidden; left:0; top:0}
/* CoolMenus 4 - default styles - end */

/*Style for the background-bar*/
.clBar{position:absolute; width:10; height:10; background-color:#000000; layer-background-color:#000000; visibility:hidden}

/*Styles for level 0*/
.clLevel0,.clLevel0over{position:absolute; padding:2px; font-family:tahoma,arial,helvetica; font-size:12px; font-weight:bold}
.clLevel0{background-color:#000000; layer-background-color:#000000; color:white;}
.clLevel0over{background-color:#eeeeee; layer-background-color:#000000; color:Black; cursor:pointer; cursor:hand; }
.clLevel0border{position:absolute; visibility:hidden; background-color:#006699; layer-background-color:#006699}

/*Styles for level 1*/
.clLevel1,.clLevel1over{position:absolute; padding:2px; font-family:tahoma,arial,helvetica; font-size:12px; font-weight:bold}
.clLevel1{background-color:#cf002f; layer-background-color:#000000; color:white;}
.clLevel1over{background-color:#888888; layer-background-color:#888888; color:White; cursor:pointer; cursor:hand; }
.clLevel1border{position:absolute; visibility:hidden; background-color:#888888; layer-background-color:#888888}


/*Styles for level 2*/
.clLevel2,.clLevel2over{position:absolute; padding:2px; font-family:tahoma,arial,helvetica; font-size:12px; font-weight:bold}
.clLevel2{background-color:#cf002f; layer-background-color:#000000; color:white;}
.clLevel2over{background-color:#000000; layer-background-color:#000000; color:White; cursor:pointer; cursor:hand; }
.clLevel2border{position:absolute; visibility:hidden; background-color:#006699; layer-background-color:#006699}

/*Fixed header*/
html, body { height: 100%; overflow: hidden; }
#contentWrapper { width:100%; overflow: auto; }

/* Customer Profile Facebook Button */
#contentWrapper td.cpName .contain,
#contentWrapper td.cpEmail .contain {
	display: block;
	float: left;
	line-height: 36px;
	margin-right: 10px;
}
#contentWrapper td.cpName a.cpFacebook,
#contentWrapper td.cpEmail a.cpFacebook {
	background: transparent url(../images/icn_fb.png) no-repeat 0 0;
	height: 28px;
	margin-top: 5px;
	text-indent: -5000px;
	width: 26px;
}

/* Country Exception List Table */
table#tblCEL {
	border: 1px solid #DDD;
	margin-top: 2em;
}
	table#tblCEL tr td {
		padding: 2px 4px;
	}
.styledHead input.submitAdd  {
	float: right;
	margin-top: 0.5em;
}

/* Styled Header */
.styledHead {
	border-bottom: 1px solid #DDDDDD;
   margin: 1.6em 0 0;
   overflow: hidden;
}
	.styledHead select,
	.styledHead h3 {
		float: left;
	}
	.styledHead select {
		background-color: #CF002F;
    border: 0 none;
    color: #FFFFFF;
    float: left;
    font-size: 1.1em;
    margin-right: 0.5em;
    padding: 0.15em;
	}
		.styledHead select option {
			background-color: #FFFFFF;
	    color: #555555;
	    padding: 0 1em 0 0;
		}
	.styledHead h3 {
		float: left;
    font-size: 1.2em;
    margin: 0.2em 0 0;
	}

/* Footer Adjustment */
tr.footer td {
	padding-top: 2em;
}
	tr.footer td table {
		background-color: #CF002F;
		padding: 0 10% 0 6%;
	}
		tr.footer td table td {
			padding-top: 0;
		}


/* div#main_nav */
/* carlos gomez uw45 - UI developer */

div#main_nav ul.tree_menu{
    font-family: tahoma,arial,helvetica;
    font-size: 12px;
    font-weight: bold;
}

div#main_nav ul.tree_menu a{
	border:1px solid transparent;
	border-top:0;
	color:#FFFFFF;
	text-decoration:none;
}

div#main_nav ul.tree_menu, div#main_nav ul.tree_menu ul{
	list-style:none;
	margin:0;
	padding:0;
	z-index: 999;
}

div#main_nav ul.tree_menu ul a{
	border:1px solid #888888;
}

div#main_nav ul.tree_menu li.expanded_level1 a{
	border:1px solid #888888;
}

div#main_nav ul.tree_menu li.expanded_level2 ul li a{
	border-bottom:0;
	border-top:0;
}

div#main_nav ul.tree_menu li{
	background-color:#000000;
	color:#FFFFFF;
	display:block;
	float:left;
	line-height:20px;
	position:relative;
}

div#main_nav ul.tree_menu li a{
	display:block;
	text-align:center;
	width:150px;
}

div#main_nav ul.tree_menu li a:hover{
	background-color: #888888;
}

div#main_nav ul.tree_menu ul{
	display: none;
	position: absolute;
	top:20px
}

div#main_nav ul.tree_menu ul ul{
	position: relative;
	top:0;
}

div#main_nav ul.tree_menu ul li{
	background-color:#CF002F;
	float: none;
	padding:0;
}

div#main_nav ul.tree_menu ul li ul li{
	background-color:#CF002F;
	float: none;
}

div#main_nav ul.tree_menu li.expanded_level1{
	background-color: #888888;
}

div#main_nav ul.tree_menu li.expanded_level1 ul {
	display: block;
}

div#main_nav ul.tree_menu li.expanded_level1 ul ul{
	display: none;
}

div#main_nav ul.tree_menu li.expanded_level1 ul li.expanded_level2 ul{
	display: block;
}

/* consumer profile */

div.cProfile table td.td-small{
	vertical-align: top;
}

div.cProfile table.miscdatatable{
	border: 1px solid #DDDDDD;
	color: black;
	font: 9pt Arial,Helvetica;
	margin-bottom: 5px;
	padding: 1px;
	text-align: left;
}
	div.cProfile table.miscdatatable tr td{
		border: 1px solid #FFFFFF;
		padding: 0 2px;
	}
	div.cProfile table.miscdatatable tr.oddrow td{
		background-color: #DDDDDD;
	}
	div.cProfile table.miscdatatable tr td.highlight{
		font-weight: bold;
		width: 85px;
	}

/* UK */
div.cProfile_UK tr.rewards_row td{
	color: #DDDDDD;
}


/*EMGadmn forms*/

 .TD-SMALL{
	line-height: 18px;
	vertical-align:top;
}
.TD-SMALL #partnerSiteId{
	width:320px;
}
.td-label-small{
	vertical-align:top;
}
.addId_line{
	display: block;
	width: 320px;
}
.addId input.text {
	width: 14px;
}
.addId input.c10 {
	width: 80px;
}
.addId input.c9 {
	width: 70px;
}
.addId input.c3 {
	width: 27px;
}
.addId input.c7 {
	width: 56px;
}
.addId input.c6 {
	width: 49px;
}
.addId input.c5 {
	width: 41px;
}
.addId input.c2 {
	width: 20px;
}
.addId input.ff {
	width: 130px;
}
.addId input.ffs {
	width: 100px;
}

#superTaintOptions td {
  padding: 5px;
}


/* tooltip */

a.toolTipCTA {
  font-weight: bold;
}

a.toolTipCTA span {
  color: #ED1C24;
}

.toolTip {
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	display: none;
	height: auto;
	padding: 10px;
	position: absolute;
	top: -23px;
	width:350px;
	z-index: 300;
}
.toolTip{
	-webkit-box-shadow: 2px 2px 3px #383838;
	-moz-box-shadow: 2px 2px 3px #383838;
	box-shadow: 2px 2px 3px #383838;
}
	.toolTip p {
		color: #444444;
	  font-size: 11px;
	  line-height: 15px;
	  margin: 0;
	  text-align: left;
	}
	.toolTip img {
		margin: 0.5em 0 1em;
	}
	.toolTip div.arrow.lf {
		background: transparent url(../images/icn_tt_arr_lf.png) no-repeat 0 0;
		height: 18px;
		left: -12px;
		position: absolute;
		text-indent: -5000px;
		top: 25px;
		width: 12px;
	}

	.toolTip div.close{
		background: transparent url(../images/icn_close_gray.png) no-repeat right 0;
		display: block;
		cursor: pointer;
		height: 35px;
		position: absolute;
		right: -17px;
		text-indent: -5000px;
		top: -17px;
		width: 35px;
	}

	.writeOffLossForm, partialRefundForm{
		background-color: #C0C0C0;
		display: none;
		left: 55%;
		padding: 20px;
		position: absolute;
		top: 115px;
		width:190px;
	}

	#contentWrapper{
		position:relative;
	}


div.writeOffLossDiv, div.partialRefundDiv, div.gbGroupdiv{
    border: 1px solid #000000;
    display: none;
    padding: 10px;
    width: 500px;
}

div.writeOffLossDiv fieldset, div.partialRefundDiv fieldset{
	border: 0 none;
}

.recoveryLossForm .recoveryLossFormError, .partialRefundForm .partialRefundAmountFormError, .partialRefundForm .partialRefundSelectionFormError{
	color: #cf002f;
	text-align:center;
}
